@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap')
	;

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	font-family: 'Jeju Gothic', sans-serif;
}

.top_div {
	width: 900px;
	margin-left: calc(7%);
	position: relative;
}

.top_div_logo {
	border: 0;
	outline: 0;
	height: 50px;
	width: 228.844px;
	position: relative;
	background: url('../img/Logo.png');
}

.top_div_button {
	float: right;
	background-color: white;
	border: 0px;
	outline: 0;
	margin-left: 5px;
}

.menu_div {
	margin-left: calc(7%);
	width: 0px;
	height: 14.5px;
	vertical-align: middle;
	position: relative;
}

.menu_div_in_div {
	width: 900px;
	margin-left: calc(7%);
}

.menu_div_in_div_in_div {
	position: relative;
	float: left;
}

.menu_div_in_div_button {
	width: 300px;
	background-color: white;
	border: 0px;
	outline: 0;
}

.search_box {
	margin-left: calc(7%);
	width: 900px;
	height: 150px;
	position: relative;
	background-color: #0881C3;
	display: table;
}

.search_box_in_div {
	background-color: #0881C3;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.search_box_in_div_ment {
	display: inline-block;
	background-color: #0881C3;
}

.search_box_in_div_text_side {
	background: url('../img/S_side.png');
	background-size: 107%;
	border: 0px;
	outline: 0;
	width: 20px;
	height: 43px;
	position: relative;
	left: 5.5px;
}

.search_box_in_div_text_main {
	background: url('../img/S_main.png');
	background-size: 100%;
	border: 0px;
	outline: 0;
	width: 300px;
	height: 41px;
	position: relative;
	top: -17px;
	font-size: 10.7px;
	font-family: 'Nanum Gothic', sans-serif;
}

.search_box_in_div_button {
	background: url('../img/S_button.png');
	background-size: 100%;
	border: 0px;
	outline: 0;
	height: 43px;
	width: 53px;
	position: relative;
	border: 0px;
	outline: 0;
	height: 43px;
	width: 53px;
	position: relative;
	left: -6px;
}

.best_ment {
	margin-left: calc(7%);
}

.coivd_ment {
	margin-left: calc(7%);
}

.main_img_div {
	margin-left: calc(7%);
	width: 900px;
}

.main_img_div_in_div {
	width: 900px;
}

.main_img {
	height: 250px;
	width: 250px;
	margin-top: 15px;
	margin-right: 22px;
	margin-left: 22px;
	border: 0px;
	outline: 0;
}

.covid_div {
	margin-left: calc(7%);
	width: 900px;
	display: table;
}

.covid_chart {
	width: 440px;
	float: left;
}

.covid_guidance {
	width: 440px;
	float: left;
	height: 320px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.covid_table {
	position: relative;
	top: 110px;
	text-align: center;
}

.foot_button {
	background-color: #767171;
	border: 0px;
	outline: 0;
}

.foot_1 {
	margin-left: calc(7%);
	width: 900px;
	height: 15px;
}

.foot_2 {
	margin-left: calc(7%);
	width: 900px;
	height: 50px;
}

.foot_3 {
	display: table-cell;
	vertical-align: middle;
	width: 900px;
	height: 50px;
	background-color: #767171;
}

.search_div {
	margin-left: calc(7%);
	width: 900px;
	text-align: center;
}

.search_button {
	width: 155px;
	height: 155px;
	margin-left: 32px;
	margin-right: 32px;
}

.board_div {
	width: 900px;
	margin-left: calc(7%);
}

.main_hr {
	width: calc(100%);
}

@media screen and (max-width:1100px) {

.main_hr {
	width: 1000px;
}

}

@media screen and (min-width:1100px) and (max-width:1300px) {

.top_div {
	width: 900px;
	margin-left: calc(11%);
	position: relative;
}

.menu_div {
	margin-left: calc(11%);
	width: 0px;
	height: 14.5px;
	vertical-align: middle;
	position: relative;
}

.menu_div_in_div {
	width: 900px;
	margin-left: calc(11%);
}

.search_box {
	margin-left: calc(11%);
	width: 900px;
	height: 150px;
	position: relative;
	background-color: #0881C3;
	display: table;
}

.best_ment {
	margin-left: calc(11%);
}

.coivd_ment {
	margin-left: calc(11%);
}

.main_img_div {
	margin-left: calc(11%);
	width: 900px;
}

.covid_div {
	margin-left: calc(11%);
	width: 900px;
	display: table;
}

.foot_1 {
	margin-left: calc(11%);
	width: 900px;
	height: 15px;
}

.foot_2 {
	margin-left: calc(11%);
	width: 900px;
	height: 50px;
}

.search_div {
	margin-left: calc(11%);
	width: 900px;
	text-align: center;
}

.board_div {
	width: 900px;
	margin-left: calc(11%);
}

}

@media screen and (min-width:1300px) {

.top_div {
	width: 900px;
	margin-left: calc(20%);
	position: relative;
}

.menu_div {
	margin-left: calc(20%);
	width: 0px;
	height: 14.5px;
	vertical-align: middle;
	position: relative;
}

.menu_div_in_div {
	width: 900px;
	margin-left: calc(20%);
}

.search_box {
	margin-left: calc(20%);
	width: 900px;
	height: 150px;
	position: relative;
	background-color: #0881C3;
	display: table;
}

.best_ment {
	margin-left: calc(20%);
}

.coivd_ment {
	margin-left: calc(20%);
}

.main_img_div {
	margin-left: calc(20%);
	width: 900px;
}

.covid_div {
	margin-left: calc(20%);
	width: 900px;
	display: table;
}

.foot_1 {
	margin-left: calc(20%);
	width: 900px;
	height: 15px;
}

.foot_2 {
	margin-left: calc(20%);
	width: 900px;
	height: 50px;
}

.search_div {
	margin-left: calc(20%);
	width: 900px;
	text-align: center;
}

.board_div {
	width: 900px;
	margin-left: calc(20%);
}

}